name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  check_if_release_commit:
    runs-on: ubuntu-latest
    outputs:
      is_release: ${{ steps.check_tag.outputs.is_release }}
    steps:
      - name: Checkout code with tags
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetches all history and tags
      - name: Check if commit is tagged for release (v*)
        id: check_tag
        run: |
          # Check if any tag starting with 'v' points to the current commit HEAD
          if git tag --points-at HEAD | grep -q "^v"; then
            echo "Commit is tagged with a 'v*' tag. Build/test steps will be skipped in this workflow."
            echo "is_release=true" >> $GITHUB_OUTPUT
          else
            echo "Commit is NOT tagged with a 'v*' tag. Build/test steps will proceed."
            echo "is_release=false" >> $GITHUB_OUTPUT
          fi
        shell: bash

  android_build:
    runs-on: ubuntu-latest
    needs: check_if_release_commit
    if: needs.check_if_release_commit.outputs.is_release == 'false'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Enable Nix Magic Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Install example app dependencies
        run: nix develop .# --command bash -c "yarn install --immutable"

      - name: Build example Android app
        run: nix develop .# --command bash -c "yarn example build:android"

  ios_build:
    runs-on: macos-latest
    needs: check_if_release_commit
    if: needs.check_if_release_commit.outputs.is_release == 'false'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Enable Nix Magic Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Install example app dependencies
        run: nix develop .# --command bash -c "yarn install --immutable && yarn ios:prebuild"

      - name: Build example iOS app
        run: nix develop .# --command bash -c "yarn example build:ios:xcode"
